In [6]:
#import sys
#print(sys.version)
#!pip install ibm_watson wget
!pip install tabulate wget
#from ibm_watson import SpeechToTextV1 
#import json
#from ibm_cloud_sdk_core.authenticators import IAMAuthenticator
#
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pylab as plt
import matplotlib.pyplot as pplt
import matplotlib.patches as patches
import urllib
import json
import seaborn as sns
#import folium
#import plotly.graph_objects as go
from IPython.core.display import display, HTML
!conda install -c anaconda xlrd --yes
#!conda update -n base -c defaults conda
##########################################################################################################
#import matplotlib.patches as mpatches # needed for waffle Charts
#mpl.style.use('ggplot') # optional: for ggplot-like style
#import numpy as np  # useful for many scientific computing in Python
#from tabulate import tabulate
#import os
#import csv
#file_name=r'C:\Users\anwarulhasan\Documents\Coursera\Data\Topic_Survey_Assignments.csv'
#file_name="C:/Users/anwarulhasan/Documents/Coursera/Data/Topic_Survey_Assignments.csv"
#file_name=r'C:\Users\anwarulhasan\Documents\Coursera\Data\Topic_Survey_Assignments.csv'
# Following are imported by Watson when one imports data files
# read the HCI file
df_hci = pd.read_excel('hci_data_september_2020.xlsx',sheet_name='HCIMaleFemale')
print ('HCI Data read into a pandas dataframe!')
df_hci.head(5)
#df_hci.tail(5)
#df_data_0.shape
#print(df_data_0.shape)
# there are (174, 13) records
print(df_hci.dtypes)
#df_hci.describe(include = "all")
#dataframe[[' column 1 ',column 2', 'column 3'] ].describe()
#df_hci.describe()

Requirement already satisfied: tabulate in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.8.7)
Requirement already satisfied: wget in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (3.2)
Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.8.5
  latest version: 4.9.1

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

HCI Data read into a pandas dataframe!
Country Name                                 object
WB Code                                      object
Region                                       object
Income Group                                 object
Probability of Survival to Age 5            float64
Expected Years of School                    float64
Harmonized Test Scores                      float64
Learning-Adjusted Years of School           float64
Fraction of Children Under 5 Not Stunted     object
Adult Survival Rate                         float64
HUMAN CAPITAL INDEX 2020 (LOWER BOUND)      float64
HUMAN CAPITAL INDEX 2020                    float64
HUMAN CAPITAL INDEX 2020 (UPPER BOUND)      float64
dtype: object

In [15]:
# read the GDP file
df_gdp = pd.read_excel('WorldGDP.xlsx',sheet_name='Data',skiprows = 3, index_col=None, na_values=['NA'])
#,Index_col=None, header=None 
#skiprows = ,Index_col=None, header=Nonerange(1, 337), usecols = "H:BD")
#skiprows = "1:336", usecols = "H:BD")
print ('GDP Data read into a pandas dataframe!')
df_gdp.head(5)
#df_gdp.tail(5)
#df_data_0.shape
#print(df_data_0.shape)
# there are (174, 13) records
#print(df_gdp.dtypes)
#df_gdp.describe(include = "all")
#dataframe[[' column 1 ',column 2', 'column 3'] ].describe()
#df_gdp.describe()
#xls = pd.ExcelFile('C:\Users\cb\Machine_Learning\cMap_Joins.xlsm')
#df = xls.parse('Sheet1', skiprows=4, index_col=None, na_values=['NA'])
#file_loc = "path.xlsx"
#df = pd.read_excel(file_loc, index_col=None, na_values=['NA'], usecols = "A,C:AA")

GDP Data read into a pandas dataframe!

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.948438e+10,1.910135e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,9.463542e+10,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289077e+10,1.231983e+10,1.277622e+10,1.322814e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527808e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09,NaN

In [2]:
#df_hci=df_hci.transpose()
#After transpose. Pandas inserts new headers (0->number of rows)
#df_hci.head(5)

In [3]:
#

In [4]:
# We have to convert data types into a proper format for each column using the "astype()" method.
# df['DataFrame Column'] = df['DataFrame Column'].astype(float)
# df['DataFrame Column'] = pd.to_numeric(df['DataFrame Column'], errors='coerce') # df = df.replace(np.nan, 0, regex=True)
#df_hci["Fraction of Children Under 5 Not Stunted"] = df_hci["Fraction of Children Under 5 Not Stunted"].astype(float)
#df_hci['Fraction of Children Under 5 Not Stunted'] = pd.to_numeric(df_hci['Fraction of Children Under 5 Not Stunted'],errors='coerce')
#df_hci.describe(include = "all")
print(df_hci.dtypes)

Country Name                                 object
WB Code                                      object
Region                                       object
Income Group                                 object
Probability of Survival to Age 5            float64
Expected Years of School                    float64
Harmonized Test Scores                      float64
Learning-Adjusted Years of School           float64
Fraction of Children Under 5 Not Stunted     object
Adult Survival Rate                         float64
HUMAN CAPITAL INDEX 2020 (LOWER BOUND)      float64
HUMAN CAPITAL INDEX 2020                    float64
HUMAN CAPITAL INDEX 2020 (UPPER BOUND)      float64
dtype: object

In [5]:
#df[["price"]] = df[["price"]].astype("float")
#df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")
df_hci.replace("-", np.nan, inplace = True)
# for sake of consistency, let's also make all column labels of type string
#df_hci.columns = list(map(str, df_hci.columns))
df_hci.head(5)
#
# let's create a new dataframe for these three countries 
#df_dsn = df_can.loc[['Denmark', 'Norway', 'Sweden'], :]
#
# compute the proportion of each category with respect to the total
#total_values = sum(df_dsn['Total'])
#category_proportions = [(float(value) / total_values) for value in df_dsn['Total']]
# print out proportions
#for i, proportion in enumerate(category_proportions):
#    print (df_dsn.index.values[i] + ': ' + str(proportion))

,Country Name,WB Code,Region,Income Group,Probability of Survival to Age 5,Expected Years of School,Harmonized Test Scores,Learning-Adjusted Years of School,Fraction of Children Under 5 Not Stunted,Adult Survival Rate,HUMAN CAPITAL INDEX 2020 (LOWER BOUND),HUMAN CAPITAL INDEX 2020,HUMAN CAPITAL INDEX 2020 (UPPER BOUND)
0,Afghanistan,AFG,South Asia,Low income,0.937724,8.901891,354.758789,5.052838,0.618072,0.787741,0.387149,0.400284,0.412617
1,Albania,ALB,Europe & Central Asia,Upper middle income,0.991177,12.889381,434.127594,8.953018,0.886766,0.929366,0.624726,0.634251,0.643478
2,Algeria,DZA,Middle East & North Africa,Lower middle income,0.976518,11.848035,374.089081,7.091553,0.883104,0.909282,0.527311,0.534556,0.541510
3,Angola,AGO,Sub-Saharan Africa,Lower middle income,0.922835,8.120066,325.965485,4.234978,0.624289,0.729359,0.329864,0.362405,0.385375
4,Antigua and Barbuda,ATG,Latin America & Caribbean,High income,0.993559,12.967560,406.997437,8.444422,NaN,0.897208,0.584080,0.595704,0.607415

In [6]:
print(df_hci.dtypes)

Country Name                                 object
WB Code                                      object
Region                                       object
Income Group                                 object
Probability of Survival to Age 5            float64
Expected Years of School                    float64
Harmonized Test Scores                      float64
Learning-Adjusted Years of School           float64
Fraction of Children Under 5 Not Stunted    float64
Adult Survival Rate                         float64
HUMAN CAPITAL INDEX 2020 (LOWER BOUND)      float64
HUMAN CAPITAL INDEX 2020                    float64
HUMAN CAPITAL INDEX 2020 (UPPER BOUND)      float64
dtype: object

In [7]:
# replace "-" to NaN
#df_hci.replace("-", np.nan, inplace = True)
# "T" means misssing and "F" means not missing
missing_data = df_hci.isnull()
missing_data.head(5)
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")    
#
#convert the Fraction of Children Under 5 Not Stunted     object to float
# clean up the dataset to remove unnecessary columns (eg. REG)
#df_hci.drop(['WB Code','Income Group'], axis=1, inplace=True)
# let's rename the columns so that they make sense
#df_hci.rename(columns={'OdName':'Country', 'AreaName':'Continent','RegName':'Region'}, inplace=True)
#
# add total column
#df_hci['Total'] = df_hci.sum(axis=1)
# years that we will be using in this lesson - useful for plotting later on
#years = list(map(str, range(1980, 2014)))
#
# set the country name as index - useful for quickly looking up countries using .loc method
# df_can.set_index('Country', inplace = True)
#

Country Name
False    174
Name: Country Name, dtype: int64

WB Code
False    174
Name: WB Code, dtype: int64

Region
False    174
Name: Region, dtype: int64

Income Group
False    174
Name: Income Group, dtype: int64

Probability of Survival to Age 5
False    174
Name: Probability of Survival to Age 5, dtype: int64

Expected Years of School
False    174
Name: Expected Years of School, dtype: int64

Harmonized Test Scores
False    174
Name: Harmonized Test Scores, dtype: int64

Learning-Adjusted Years of School
False    174
Name: Learning-Adjusted Years of School, dtype: int64

Fraction of Children Under 5 Not Stunted
False    100
True      74
Name: Fraction of Children Under 5 Not Stunted, dtype: int64

Adult Survival Rate
False    174
Name: Adult Survival Rate, dtype: int64

HUMAN CAPITAL INDEX 2020 (LOWER BOUND)
False    174
Name: HUMAN CAPITAL INDEX 2020 (LOWER BOUND), dtype: int64

HUMAN CAPITAL INDEX 2020
False    174
Name: HUMAN CAPITAL INDEX 2020, dtype: int64

HUMAN CAPITAL INDEX 2020 (UPPER BOUND)
False    174
Name: HUMAN CAPITAL INDEX 2020 (UPPER BOUND), dtype: int64

In [8]:
avg_FoCUn5 = df_hci["Fraction of Children Under 5 Not Stunted"].astype(float).mean(axis=0)
#print("Average of Fraction of Children Under 5 Not Stunted:", avg_FoCUn5)
#Replace "NaN" by mean value in "normalized-losses" column
#df_hci["Fraction of Children Under 5 Not Stunted"].replace(np.nan, avg_FoCUn5, inplace=True)
#df_hci.head(5)
#similarly for other columnsTo see which values are present in a particular column, we can use the ".value_counts()" method:
#To see which values are present in a particular column, we can use the ".value_counts()" method: df['num-of-doors'].value_counts()
#We can also use the ".idxmax()" method to calculate for us the most common type automatically: df['num-of-doors'].value_counts().idxmax()
#replace the missing 'num-of-doors' values by the most frequent 
# Replace NaN by 'four' : df["num-of-doors"].replace(np.nan, "four", inplace=True)
#Finally, let's drop all rows that do not have price data:
# df.dropna(subset=["price"], axis=0, inplace=True)
# reset index, because we droped two rows : df.reset_index(drop=True, inplace=True)
#
# set the country name as index - useful for quickly looking up countries using .loc method
#df_hci.set_index('Country', inplace = True)
#
# add total column
#df_hci['Total'] =  df_hci.sum (axis = 1)
#
# years that we will be using in this lesson - useful for plotting later on
#years = list(map(str, range(1980, 2014)))
#print ('data dimensions:', df_can.shape)
#data dimensions: (195, 38)

In [9]:
#Human Capital Index 2020, averages by World Bank region
# df.drop(columns=['B', 'C']) or df.drop(['B', 'C'], axis=1) # Drop a row by index df.drop([0, 1])
#df_hci.drop(['Country Name', 'WB Code', 'Income Group'], axis=1)
df_hci.columns = list(map(str, df_hci.columns))
#df_hci['Region']
#df_reduced = df_hci.drop(columns=['Country Name', 'WB Code', 'Income Group'])
# df_reduced.rename(columns={"Region":"Indicator"}, inplace = True)
# df_regional= df_hci.groupby('Region').mean()
#df_reduced.set_index('Region', inplace=True)
#df_reduced.head(5)
#df_reduced.columns
#df_reduced.shape
# let's rename the columns so that they make sense
# df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent','RegName':'Region'}, inplace=True)
#
# for sake of consistency, let's also make all column labels of type string
#df_can.columns = list(map(str, df_can.columns))
#
# set the country name as index - useful for quickly looking up countries using .loc method
#df_can.set_index('Country', inplace=True)
#
# add total column
# df_can['Total'] = df_can.sum(axis=1)
#df_hci.set_index('Region', inplace=True)

In [10]:
# Note: the output of the groupby method is a `groupby' object. 
"""
For return DataFrame after groupby, there are 2 possible solutions:
parameter as_index=False which works nice with count, sum, mean functions
reset_index for create new column from levels of index, more general solution
"""
#df_regional = df_hci.groupby('Region').mean()
#df_regional.groupby('Region', group_keys=False).mean()
#df_Region.head()
#df_regional=df_hci.groupby('Region', as_index=False).mean()
df_regional=df_hci.groupby('Region', as_index=True).mean() 
df_regional=df_regional.reset_index()
df_regional.columns
#df_regional.index
#df_regional=df_regional.reset_index()
#df_regional.reset_index(drop=True)
#X.reset_index(drop=True)
#df_regional=df_regional.drop(['index'],axis=1)
#df_regional.head(5)
# as_index=False means you don't want the group coulumn 'Region' as Index, as_index=True mean you want
#Then follow it up with a reset_index to transfer it from the index back into the dataframe. 
#automatic exclusion of columns after groupby usually caused by the presence of null values in that columns excluded.
# df.fillna('')
# Keep the group column 'Region' as Index or use reset_index(name='xxx')
#df_regional=df_hci.groupby('Region').mean()
#df=df.reset_index() then df=df.drop(['index'],axis=1)
#df_regional.describe()
#df_regional.columns
#
#f_regional.index
#DataFrame.groupby(regionalby=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<object object>, observed=False, dropna=True)[source]
#df_regional = df_reduced.groupby('Region').mean()
# when grouped by a column that column will not be a column anymore 
#df_transposed = df_regional.T # or df_regional.transpose()
# df_regional = df_regional.loc[['Denmark', 'Norway', 'Sweden'], years].transpose()
#df_regional.columns
#df_regional.columns = df_regional.columns.droplevel(0)
#df_regional.head(5)
#df_trans.head(5)
#df_trans.index
#pd_trans.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', <number of rows>) # pd.set_option('display.max_columns', <number of columns>)
#pd.set_option("display.max_colwidth", 200)
#pd.options.display.max_rows = 999
#pd.option_context("display.max_rows", 10, "display.max_columns", 5):

Index(['Region', 'Probability of Survival to Age 5',
       'Expected Years of School', 'Harmonized Test Scores',
       'Learning-Adjusted Years of School',
       'Fraction of Children Under 5 Not Stunted', 'Adult Survival Rate',
       'HUMAN CAPITAL INDEX 2020 (LOWER BOUND)', 'HUMAN CAPITAL INDEX 2020',
       'HUMAN CAPITAL INDEX 2020 (UPPER BOUND)'],
      dtype='object')

In [11]:
#df_regional.columns df=df.reset_index() then df=df.drop(['index'],axis=1)
# One thing that i do is
#df_regional.reset_index(drop=True, inplace=True)
#df_regional.reset_index(level='Indicator')
#df_regional.index
df_regional.columns
#df_regional.set_index('Region', inplace=True)
#df_regional.reset_index(drop=True, inplace=True)
df_regional.rename(columns={'Region':'Indicator'}, inplace=True)
df_new=df_regional.set_index('Indicator').transpose()
#df.set_index('fruit').transpose()
#
df_new.head(10)

Indicator,East Asia & Pacific,Europe & Central Asia,Latin America & Caribbean,Middle East & North Africa,North America,South Asia,Sub-Saharan Africa
Probability of Survival to Age 5,0.978337,0.993031,0.981797,0.984298,0.994247,0.961766,0.934111
Expected Years of School,11.905415,13.054014,12.057793,11.563628,13.306883,10.752280,8.296453
Harmonized Test Scores,432.114229,479.400063,404.540862,407.326913,522.898331,373.718231,373.809745
Learning-Adjusted Years of School,8.347170,10.048638,7.820240,7.627177,11.140408,6.462757,5.008362
Fraction of Children Under 5 Not Stunted,0.759148,0.903383,0.852373,0.822970,NaN,0.691653,0.687719
Adult Survival Rate,0.864464,0.903661,0.861757,0.912428,0.914728,0.841225,0.735277
HUMAN CAPITAL INDEX 2020 (LOWER BOUND),0.572877,0.679237,0.544160,0.557452,0.741034,0.465105,0.378969
HUMAN CAPITAL INDEX 2020,0.588241,0.688762,0.557168,0.568088,0.749642,0.477446,0.400316
HUMAN CAPITAL INDEX 2020 (UPPER BOUND),0.601617,0.698017,0.568591,0.577767,0.758219,0.489146,0.418333

In [12]:
#df_regional = df_regional.rename(columns={"Region":"Indicator"})
df_trans = df_regional.transpose()
# After transpose Index are not set as columns and index (0-9) beccomes column. Reset columns
#df_trans = df_trans.rename(Index={"Region":"Indicator"})
#df_trans.index = df_trans.index.droplevel(0)
#df_trans.set_index('Indicator', inplace=True)
#df_trans.reset_Columns(drop=True, inplace=True)
# df.reset_index(drop=True, inplace=True)
#df_trans=df_trans.reset_index(drop=True, inplace=True) 
#df_trans=df_trans.reset_index(drop=True)
#df_trans=df_trans.drop(['Region'],axis=1)
#df_trans = df_trans.rename(columns={"index":"Indicator"})
df_trans.index
#df_trans.columns
#df_trans.head(5)

Index(['Indicator', 'Probability of Survival to Age 5',
       'Expected Years of School', 'Harmonized Test Scores',
       'Learning-Adjusted Years of School',
       'Fraction of Children Under 5 Not Stunted', 'Adult Survival Rate',
       'HUMAN CAPITAL INDEX 2020 (LOWER BOUND)', 'HUMAN CAPITAL INDEX 2020',
       'HUMAN CAPITAL INDEX 2020 (UPPER BOUND)'],
      dtype='object')

In [13]:
#df_trans.index
#df_dict = dict.fromkeys(df_trans.columns, '')
#df_dict
#df_trans.rename(columns = df_dict)
#df_trans.head()
#df.rename(columns={"A": "a", "B": "c"}) or df_survey.rename(columns={'Unnamed: 0':'Topics'}, inplace=True)
#df_new = df_new.rename(columns={'Region':'Indicator'}, inplace=True)
#df_can.rename (columns = {'OdName':'Country', 'AreaName':'Continent','RegName':'Region'}, inplace = True)
#df_trans.rename(columns={'Region':'Indicator'}, inplace=True)
#cmap = {'A': 'a', 'B': 'b', 'C': 'c', 'D': 'd', 'E': 'e'}
#df = df.rename(columns=cmap)
#df_trans.columns = list(map(str, df_trans.columns))
#df_new = df_trans.rename(columns={"Region":"Indicator"})
#df_new.describe()
#print(columns)
#df_new.head()
#df_new.columns
#df_newdf.shape
#df.rename(index={0: "x", 1: "y", 2: "z"}) # changing the row names
#print(df_new.dtypes)
# set the country name as index - useful for quickly looking up countries using .loc method
#df_can.set_index('Country', inplace=True)
# add total column
#df_can['Total'] = df_can.sum(axis=1)
#count_row = df.shape[0]  # gives number of row count
#count_col = df.shape[1]  # gives number of col count
#r, c = df.shape
#df_trans.shape

In [14]:
#df_survey.rename(columns={'Unnamed: 0':'Topics'}, inplace=True)
#df_survey.columns = list(map(str, df_survey.columns)) # convert to string
#df_survey.set_index('Topics', inplace=True)
#headers = ["","Very Interested","Somewhat Interested","Not Interested"]
#df_survey.columns = headers
#df_survey.set_index('', inplace=True)
df_trans.columns = df_trans.iloc[0] # set a new index
df_neww = df_trans[1:]              # delete the first row (0,1 etc.)
#df_neww.head()
df_neww.columns
#df_neww.index

Index(['East Asia & Pacific', 'Europe & Central Asia',
       'Latin America & Caribbean', 'Middle East & North Africa',
       'North America', 'South Asia', 'Sub-Saharan Africa'],
      dtype='object', name='Indicator')

In [15]:
#df_trans.columns = df_trans.columns.droplevel(0)
#df_trans.index = df_trans.index.droplevel(0)
#df_regional.transpose().head(9)
#np.random.seed(24)
#df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
#df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
#               axis=1)
# Styler.applymap: elementwise or Styler.apply: column-/row-/table-wise
#############################################################################################
"""
Styler.apply(self, func, axis=0, subset=None, **kwargs)[source]
Apply a function column-wise, row-wise, or table-wise, updating the HTML representation with the result.

Parameters:	
func : function
func should take a Series or DataFrame (depending on axis), and return an object with the same shape. Must return a DataFrame with identical index and column labels when axis=None

axis : {0 or â€˜indexâ€™, 1 or â€˜columnsâ€™, None}, default 0
apply to each column (axis=0 or 'index'), to each row (axis=1 or 'columns'), or to the entire DataFrame at once with axis=None.

subset : IndexSlice
a valid indexer to limit data to before applying the function. Consider using a pandas.IndexSlice

kwargs : dict
pass along to func

Returns:	
self : Styler
#
The output shape of func should match the input, i.e. if x is the input row, column, or table (depending on axis), then func(x).shape == x.shape should be true.
This is similar to DataFrame.apply, except that axis=None applies the function to the entire DataFrame at once, rather than column-wise or row-wise.
#
Building styles:
Pass your style functions into one of the following methods:
Styler.applymap: elementwise
Styler.apply: column-/row-/table-wise
#
Styler.apply: column-/row-/table-wise
Styler.applymap(func) for elementwise styles
Styler.apply(func, axis=0) for columnwise styles
Styler.apply(func, axis=1) for rowwise styles
Styler.apply(func, axis=None) for tablewise styles
e.g. s = df.style.applymap(color_negative_red) where 'color_negative_red' is a style function as below:
def color_negative_red(val):
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color
#
Both Styler.apply, and Styler.applymap accept a subset keyword. 
This allows you to apply styles to specific rows or columns, without having to code that logic into your style function.
df.style.apply(highlight_max, subset=['B', 'C', 'D'])
"""
###
"""
def color_negative_red(val):
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color
    #
    s = df.style.applymap(color_negative_red)
#
    def highlight_max(s):
    highlight the maximum in a Series yellow.
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]
#
df.style.format("{:.2%}")
df.style.format({'B': "{:0<4.0f}", 'D': '{:+.2f}'})
df.style.format("{:.2%}", na_rep="-")
df.style.highlight_null(null_color='red')
#
cm = sns.light_palette("green", as_cmap=True)
s = df.style.background_gradient(cmap=cm)
#
df.style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})
##df.style.hide_columns
#df.style.hide_index()
"""
###########################################################################################
#df.set_option('max_rows', 7) or df.set_option('max_columns', 7) 
#df.set_option('max_colwidth', 40) #df.set_option('precision', 4) #df.set_option('chop_threshold', .5) # 
#df.iloc[3, 3] = np.nan
############################################################################################
"""
# Formatting the column values (currency columns)
df.head(10).style.format({"BasePay": "${:20,.0f}", 
                          "OtherPay": "${:20,.0f}", 
                          "TotalPay": "${:20,.0f}",
                          "TotalPayBenefits":"${:20,.0f}"})

"""
############################################################################################
# Set CSS (Cascading Style Sheet) properties for th elements in dataframe. 
# CSS describes how HTML elements are to be displayed on screen, paper, or in other media.
# th (the head) and td (the body)
"""
The Cells: td and th
The individual cells of a table are always one of two elements: <td> or <th>. 
You can put whatever you want inside a table cell, but these are the elements that make them a table cell. 
<th> elements are â€œtabular headersâ€ and <td> elements are â€œtabular dataâ€.
<th>	<th>	<th>
<td>	<td>	<td>
<td>	<td>	<td>
<td>	<td>	<td>
#
<table>	The table itself
<caption>	The caption for the table. Like a figcaption to a figure.
<thead>	The table header
<tbody>	The table body
<tfoot>	The table footer
<tr>	A table row
<th>	A table cell that is a header
<td>	A table cell that is data
<col>	A column (a no-content element)
<colgroup>	A group of columns
"""
#df.style.set_table_styles(
#    [{'selector': 'tr:hover',
#      'props': [('background-color', 'yellow')]}])
# df_trans.style.hide_index()
#df_dict = dict.fromkeys(df_trans.columns, '')
#df_trans.rename(columns = df_dict)
th_props = [
  ('font-size', '12px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#6d6d6d'),
  ('background-color', '#f7f7f9')
  ]
# Set CSS properties for td elements in dataframe
td_props = [ ('font-size', '10px'),('font-weight', 'bold') ]

# Set table styles
styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]
#
# df_trans.style.set_table_styles(styles).hide_index().highlight_max(color='lightgreen').highlight_min(color='#cd4f39'))
#df_trans.style.set_table_styles(styles).highlight_max(color='lightgreen').highlight_min(color='#cd4f39')
#df_neww.style.set_table_styles(styles).set_caption('This is a HCI caption.')
#
#df_neww.style.set_table_styles([{ 'selector': 'th', 'props': [('background-color', '#add8e6')] }])
#
def highlight_col(x):
        return ['background-color: #67c5a4']*x.shape[0]
    
#df_neww.style.set_properties(**{'background-color': 'black', 'color': 'lawngreen', 'border-color': 'white'})
#df_neww.style.set_table_styles([{ 'selector': 'th', 'props': [('background-color', '#add8e6'), ('font-weight', 'bold'), ('font-size', '8pt')] }])
#df_neww.style.set_table_styles( [{'selector': 'th', 'props': [('background-color', 'black'),('color', '#FFFFFF')]}])
#df_neww.style.format("{:.2%}")
#st_neww=df_neww.style.apply(highlight_col, axis=0).set_table_styles( [{'selector': 'th', 'props': [('background-color', 'black'),('color', '#FFFFFF')]}])
#df_neww.style.set_table_styles([{ 'selector': 'th', 'props': [('font-size', '10pt'), ('font-weight', 'bold'),'background-color', '#add8e6')] }])
# df.style.format({'c': str.upper})
format_dict = {'Indicator': str.upper, 'East Asia & Pacific':'{0:,.2f}', 'Europe & Central Asia':'{0:,.2f}',\
'Latin America & Caribbean':'{0:,.2f}', 'Middle East & North Africa':'{0:,.2f}',\
'North America':'{0:,.2f}', 'South Asia':'{0:,.2f}', 'Sub-Saharan Africa':'{0:,.2f}' }
#
#st_neww=df_neww.style.format(format_dict).apply(highlight_col, axis=0)\
#.set_table_styles( [{'selector': 'th', 'props': [('background-color', 'blue'),('color', '#FFFFFF')]}])\
#.set_caption("Development Indicators")
#
st_neww=df_neww.style\
.format(format_dict).apply(highlight_col, axis=0)\
.set_caption("Development Indicators")\
.set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'red'),
        ('font-size', '16px')
    ]
}])
#.set_properties(subset='Indicator', **{'background-color':'AntiqueWhite'})\

#.set_precision(2)\
#
html = st_neww.render()
#html = st_neww.hide_index().render()
#with open("html_c.html","w") as fp:
#   fp.write(html)
#
#with pd.option_context('display.precision', 2):
#    html= sdf
#    html = (df_neww.style.apply(highlight_col, axis=0).format("{:.2f}").set_table_styles(styles))
#html
# html = sdf.hide_index().render()
#html = sdf.render()
#*to display in a jupyter notebook*
display(HTML(html))
############################################################################################
############################################################################################
# Set colormap equal to seaborns light green color palette
#cm = sns.light_palette("green", as_cmap=True)
#df_neww.style.set_caption('This is a HCI caption.')
#df_neww.head(9)
#
# Index and header can be specified via the index_col and header arguments
# pd.read_excel('tmp.xlsx', index_col=None, header=None)  
# pd.read_excel('tmp.xlsx', index_col=0, dtype={'Name': str, 'Value': float}) 
# Comment lines in the excel input file can be skipped using the comment kwarg
# pd.read_excel('tmp.xlsx', index_col=0, comment='#')

In [16]:
df_neww.columns
#print(Indicator)

Index(['East Asia & Pacific', 'Europe & Central Asia',
       'Latin America & Caribbean', 'Middle East & North Africa',
       'North America', 'South Asia', 'Sub-Saharan Africa'],
      dtype='object', name='Indicator')

In [17]:
df_neww.index

Index(['Probability of Survival to Age 5', 'Expected Years of School',
       'Harmonized Test Scores', 'Learning-Adjusted Years of School',
       'Fraction of Children Under 5 Not Stunted', 'Adult Survival Rate',
       'HUMAN CAPITAL INDEX 2020 (LOWER BOUND)', 'HUMAN CAPITAL INDEX 2020',
       'HUMAN CAPITAL INDEX 2020 (UPPER BOUND)'],
      dtype='object')

In [18]:
#import plotly.graph_objects as go # does not work
"""
fig = go.Figure(data=[go.Table(
    header=dict(values=list(df.columns),
                fill_color='paleturquoise',
                align='left'),
    cells=dict(values=[df.Rank, df.State, df.Postal, df.Population],
               fill_color='lavender',
               align='left'))
])

fig.show()
"""

"\nfig = go.Figure(data=[go.Table(\n    header=dict(values=list(df.columns),\n                fill_color='paleturquoise',\n                align='left'),\n    cells=dict(values=[df.Rank, df.State, df.Postal, df.Population],\n               fill_color='lavender',\n               align='left'))\n])\n\nfig.show()\n"

In [19]:
#df_trans.index
#df_trans.columns
# print(tabulate(df_trans, headers='keys', tablefmt='psql'))
# print(df_trans.to_markdown())
#format_dict = {'sum':'${0:,.0f}', 'date': '{:%m-%Y}', 'pct_of_total': '{:.2%}'}
#df_trans.style.format(format_dict).hide_index()

In [20]:
############################################################################
"""
Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter("pandas_header_format.xlsx", engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object. Note that we turn off
# the default header and skip one row to allow us to insert a user defined
# header.
df.to_excel(writer, sheet_name='Sheet1', startrow=1, header=False)

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

# Add a header format.
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': '#D7E4BC',
    'border': 1})

# Write the column headers with the defined format.
for col_num, value in enumerate(df.columns.values):
    worksheet.write(0, col_num + 1, value, header_format)

# Close the Pandas Excel writer and output the Excel file.
writer.save()
"""
###################################################################

'\nCreate a Pandas Excel writer using XlsxWriter as the engine.\nwriter = pd.ExcelWriter("pandas_header_format.xlsx", engine=\'xlsxwriter\')\n\n# Convert the dataframe to an XlsxWriter Excel object. Note that we turn off\n# the default header and skip one row to allow us to insert a user defined\n# header.\ndf.to_excel(writer, sheet_name=\'Sheet1\', startrow=1, header=False)\n\n# Get the xlsxwriter workbook and worksheet objects.\nworkbook  = writer.book\nworksheet = writer.sheets[\'Sheet1\']\n\n# Add a header format.\nheader_format = workbook.add_format({\n    \'bold\': True,\n    \'text_wrap\': True,\n    \'valign\': \'top\',\n    \'fg_color\': \'#D7E4BC\',\n    \'border\': 1})\n\n# Write the column headers with the defined format.\nfor col_num, value in enumerate(df.columns.values):\n    worksheet.write(0, col_num + 1, value, header_format)\n\n# Close the Pandas Excel writer and output the Excel file.\nwriter.save()\n'

In [21]:
#dates = pd.date_range('20130101',periods=3)
#df = pd.DataFrame(np.random.randn(3,4),index=dates,columns=list('ABCD'))
##
# Set table styles
styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)]
#  dict(selector="caption", props=caption_props)   ]
#
"""
styles = [{'props':[("font-family", "Calibri")]},
    ####   >>> begin
    {
       'selector': 'th',
       'props': [
           ('background-color', 'grey')]
   }
   ####   >>> end
]
"""
#
df_neww = df_trans[1:]
#df_neww.head()
df_neww=df_neww.reset_index()
df_neww.rename(columns={'index':'Indicator'}, inplace=True)
df_neww.head()
#
"""
Styler.set_properties(subset=None, **kwargs)
Method to set one or more non-data dependent properties or each cell.
Parameters
subsetIndexSlice
A valid slice for data to limit the style application to.
**kwargs : dict 
A dictionary of property, value pairs to be set for each cell.
df.style\
.set_properties(**{'text-align':'left'})\
.set_properties(subset=pd.IndexSlice[:, pd.IndexSlice['col1', 'col1A']], **{'text-align':'center'})\
.set_properties(subset='col1', **{'background-color':'AntiqueWhite'})\
.set_properties(subset=['Col2','Col3'], **{'background-color':'AliceBlue'})
"""
# Set table styles
##
th_props = [
  ('font-size', '12px'),
  ('text-align', 'left'),
  ('font-weight', 'bold'),
  ('color', '#6d6d6d'),
  ('font-style', 'italic'),
  ('background-color', '#f7f7f9')
  ]
# Set CSS properties for td elements in dataframe
ind_props = [ ('font-size', '20px'), ('color', 'red')]
td_props = [ ('font-size', '12px'),('text-align', 'left'), ('font-weight', 'normal') ]
caption_props = [ ('font-size', '15px'), ('font-weight', 'bold'), ("color", 'red')]
#caption_props =  [("caption-side", "center"), ("font-size", "100%"), ("color", )]
#
# Set table styles
n_styles = [
  dict(selector="caption", props=caption_props),  
  dict(selector=".row_heading", props=ind_props),
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
]
#
#dict(selector="caption", props=[("caption-side", "center"), ("font-size", "100%"), ("color", )])
#
format_dict = {'Indicator': str.capitalize, 'East Asia & Pacific':'{0:,.2f}', 'Europe & Central Asia':'{0:,.2f}',\
'Latin America & Caribbean':'{0:,.2f}', 'Middle East & North Africa':'{0:,.2f}',\
'North America':'{0:,.2f}', 'South Asia':'{0:,.2f}', 'Sub-Saharan Africa':'{0:,.2f}' }
#     .set_properties( subset=['Indicator'], **{'font-weight': 'bold'} )\
st_html=df_neww.style\
     .format(format_dict)\
     .set_caption('This is a Custom Caption')\
     .set_table_styles(n_styles)\
     .hide_index()\
     .render()
#df_neww.head()
#df_neww.columns
display(HTML(st_html))

In [22]:
"""
def display_side_by_side(dfs:list, captions:list):
    output = ""
    combined = dict(zip(captions, dfs))
    styles = [
        dict(selector="caption", props=[("caption-side", "center"), ("font-size", "100%"), ("color", )])]
    for caption, df in combined.items():
        output += df.style.set_table_attributes("style='display:inline; font-size:110%' ").set_caption(caption)._repr_html_()
        output += "\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0"
    display(HTML(output))

df1 = pd.DataFrame(table1, columns=header)
df2 = pd.DataFrame(table2, columns=header)

display_side_by_side([df1, df2], ['Current Performance', 'Previous Performance'])
"""

'\ndef display_side_by_side(dfs:list, captions:list):\n    output = ""\n    combined = dict(zip(captions, dfs))\n    styles = [\n        dict(selector="caption", props=[("caption-side", "center"), ("font-size", "100%"), ("color", )])]\n    for caption, df in combined.items():\n        output += df.style.set_table_attributes("style=\'display:inline; font-size:110%\' ").set_caption(caption)._repr_html_()\n        output += "\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0"\n    display(HTML(output))\n\ndf1 = pd.DataFrame(table1, columns=header)\ndf2 = pd.DataFrame(table2, columns=header)\n\ndisplay_side_by_side([df1, df2], [\'Current Performance\', \'Previous Performance\'])\n'

In [24]:
#
#format_dict = {'sum':'${0:,.0f}', 'date': '{:%m-%Y}', 'pct_of_total': '{:.2%}'}
#df_trans.style.format(format_dict).hide_index()
#df_neww=df_neww.drop(['index'],axis=1)
df_neww.head()
format_dict = {'Indicator': str.capitalize, 'East Asia & Pacific':'{0:,.2f}', 'Europe & Central Asia':'{0:,.2f}',\
'Latin America & Caribbean':'{0:,.2f}', 'Middle East & North Africa':'{0:,.2f}',\
'North America':'{0:,.2f}', 'South Asia':'{0:,.2f}', 'Sub-Saharan Africa':'{0:,.2f}' }
#
# indexing starts at 0, it means the first index is on the index 0. The last element is given by the index -1
# Name[0:4] means first 5 elements, # Get every second element. The elments on index 1, 3, 5 ... Name[::2]. 
#df.style.format("{:.2%}", na_rep="-")
sdf = df_neww.style.format(format_dict)\
.set_properties( subset=['Indicator'], **{'font-weight': 'normal'} )\
.set_table_styles(styles)
#sdf = df_neww.style.format("{:.2f}").set_table_styles(styles)
#html = s.render()
#html = sdf.hide_index().render()
html = sdf.render()
#html = sdf.style.set_properties( subset=['Indicator'], **{'font-weight': 'bold'} ).render()
#with open("html_c.html","w") as fp:
#   fp.write(html)
#
#with pd.option_context('display.precision', 2):
#    html= sdf
#    html = (df_neww.style.apply(highlight_col, axis=0).format("{:.2f}").set_table_styles(styles))
#html
# html = sdf.hide_index().render()
#html = sdf.render()
#*to display in a jupyter notebook*
display(HTML(html)) # [![enter image description here][1]][1]
#html = df.style.set_properties( subset=['important_column'], **{'font-weight': 'bold'} ).render()

In [25]:
#df_neww.columns
df_new.index

Index(['Probability of Survival to Age 5', 'Expected Years of School',
       'Harmonized Test Scores', 'Learning-Adjusted Years of School',
       'Fraction of Children Under 5 Not Stunted', 'Adult Survival Rate',
       'HUMAN CAPITAL INDEX 2020 (LOWER BOUND)', 'HUMAN CAPITAL INDEX 2020',
       'HUMAN CAPITAL INDEX 2020 (UPPER BOUND)'],
      dtype='object')

In [26]:
"""
pd.options.display.float_format = '${:,.2f}'.format
df = pd.DataFrame([123.4567, 234.5678, 345.6789, 456.7890],
                  index=['foo','bar','baz','quux'],
                  columns=['cost'])
print(df)
"""

"\npd.options.display.float_format = '${:,.2f}'.format\ndf = pd.DataFrame([123.4567, 234.5678, 345.6789, 456.7890],\n                  index=['foo','bar','baz','quux'],\n                  columns=['cost'])\nprint(df)\n"

In [27]:
# selecting specific columns
#df = df.ix[1:10, 15, 17, 50:100]
#df.iloc[:, np.r_[1:10, 15, 17, 50:100]]

In [28]:
"""
Styler.format(formatter, subset=None)
Format the text display value of cells.
Parameters: formatter: str, callable, or dict
subset: IndexSlice
An argument to DataFrame.loc that restricts which elements formatter is applied to.
Returns:	
self : Styler

df.style.background_gradient(cmap=cm, subset=(df.index[-1], df.select_dtypes(float).columns))

Building Styles Summary
Style functions should return strings with one or more CSS attribute: value delimited by semicolons. Use
Styler.applymap(func) for elementwise styles
Styler.apply(func, axis=0) for columnwise styles
Styler.apply(func, axis=1) for rowwise styles
Styler.apply(func, axis=None) for tablewise styles
And crucially the input and output shapes of func must match. If x is the input then func(x).shape == x.shape.

Format Options:
format_spec     ::=  [[fill]align][sign][#][0][width][grouping_option][.precision][type]
fill            ::=  <any character>
align           ::=  "<" | ">" | "=" | "^"
sign            ::=  "+" | "-" | " "
width           ::=  digit+
grouping_option ::=  "_" | ","
precision       ::=  digit+
type            ::=  "b" | "c" | "d" | "e" | "E" | "f" | "F" | "g" | "G" | "n" | "o" | "s" | "x" | "X" | "%"
"""
#Type 's' String format. This is the default type for strings and may be omitted.

'\nStyler.format(formatter, subset=None)\nFormat the text display value of cells.\nParameters: formatter: str, callable, or dict\nsubset: IndexSlice\nAn argument to DataFrame.loc that restricts which elements formatter is applied to.\nReturns:\t\nself : Styler\n\ndf.style.background_gradient(cmap=cm, subset=(df.index[-1], df.select_dtypes(float).columns))\n\nBuilding Styles Summary\nStyle functions should return strings with one or more CSS attribute: value delimited by semicolons. Use\nStyler.applymap(func) for elementwise styles\nStyler.apply(func, axis=0) for columnwise styles\nStyler.apply(func, axis=1) for rowwise styles\nStyler.apply(func, axis=None) for tablewise styles\nAnd crucially the input and output shapes of func must match. If x is the input then func(x).shape == x.shape.\n\nFormat Options:\nformat_spec     ::=  [[fill]align][sign][#][0][width][grouping_option][.precision][type]\nfill            ::=  <any character>\nalign           ::=  "<" | ">" | "=" | "^"\nsign            ::=  "+" | "-" | " "\nwidth           ::=  digit+\ngrouping_option ::=  "_" | ","\nprecision       ::=  digit+\ntype            ::=  "b" | "c" | "d" | "e" | "E" | "f" | "F" | "g" | "G" | "n" | "o" | "s" | "x" | "X" | "%"\n'

In [29]:
"""
df.head(10).style.format({"BasePay": "${:20,.0f}", 
                          "OtherPay": "${:20,.0f}", 
                          "TotalPay": "${:20,.0f}",
                          "TotalPayBenefits":"${:20,.0f}"})\
                 .format({"JobTitle": lambda x:x.lower(),
                          "EmployeeName": lambda x:x.lower()})\
                 .hide_index()
"""
#or test the data type of each column and format accordingly
"""
costcols = [x for x in df.columns.values if x[-5:] == '.cost']
then build your dict like:

formatdict = {}
for costcol in costcols: formatdict[costcol] = "${:,.2f}"
then as you suggested:

cost_calc.style.format(formatdict)
"""

'\ncostcols = [x for x in df.columns.values if x[-5:] == \'.cost\']\nthen build your dict like:\n\nformatdict = {}\nfor costcol in costcols: formatdict[costcol] = "${:,.2f}"\nthen as you suggested:\n\ncost_calc.style.format(formatdict)\n'

In [30]:
"""
Use the str method from pandas Index object
Use the map method from pandas Index object
Use Python built-in map method
Below is the sample code for above 3 options:
#Index.str method 
df.columns = df.columns.str.upper() 
#Index.map method 
df.columns = df.columns.map(str.upper) 
#Python built-in map method 
df.columns = map(str.upper, df.columns)
"""
# Using lambda function
"""
f.columns = df.columns.map(lambda x : x.replace("-", "_").replace(" ", "_")) 
# Or 
df.columns = map(lambda x : x.replace("-", "_").replace(" ", "_"), df.columns)
df.columns = df.columns.str.replace("\n", "")
#adding prefix with "Label_" 
df.columns = df.columns.map(lambda x : "Label_" + x) 
#adding suffix with "_Col" 
df.columns = df.columns.map(lambda x : x + "_Col")
#
flatten multi index column:
After you aggregated your data with groupby and agg function, you may sometimes get a multi index column header, for instance:
df_sum = df.groupby("Salesman").agg({"Order Quantity": ["mean", "sum"]})
The column header become a multi index header, so if you want to flatten this column header by join the two levels into one, you can make use of the list comprehension as per below :
df_sum.columns = [' '.join(col) for col in df_sum.columns]

"""

'\nf.columns = df.columns.map(lambda x : x.replace("-", "_").replace(" ", "_")) \n# Or \ndf.columns = map(lambda x : x.replace("-", "_").replace(" ", "_"), df.columns)\ndf.columns = df.columns.str.replace("\n", "")\n#adding prefix with "Label_" \ndf.columns = df.columns.map(lambda x : "Label_" + x) \n#adding suffix with "_Col" \ndf.columns = df.columns.map(lambda x : x + "_Col")\n#\nflatten multi index column:\nAfter you aggregated your data with groupby and agg function, you may sometimes get a multi index column header, for instance:\ndf_sum = df.groupby("Salesman").agg({"Order Quantity": ["mean", "sum"]})\nThe column header become a multi index header, so if you want to flatten this column header by join the two levels into one, you can make use of the list comprehension as per below :\ndf_sum.columns = [\' \'.join(col) for col in df_sum.columns]\n\n'

In [31]:
#df1 = pd.DataFrame(index=['2017-01-01', '2017-02-01', '2017-03-01'], 
#          columns=["A", "B", "C"], 
#          data=[[5,np.nan, "ok"], [7,8,"fine"], ["3rd",100,np.nan]])

In [32]:
"""
# define the style related to first column and index here
# first-element : when index =True, 
# second element: default index of the table generated by the Style
styles = [ 
  dict(selector = ".col0", props = [('display', 'none')]), 
  dict(selector = "th:first-child", props = [('display', 'none')])
 ]

 # set the table styles here
 table.set_table_styles(styles)
 #
 html = ts_volume_html.style.format({'total_ops': "{:.2f}", 'read_ops': '{:.2f}','read_data(bps)':'{:.2f}',
                        'read_latency(us)': "{:.2f}", 'write_ops': '{:.2f}','write_data(bps)':'{:.2f}',
                        'write_latency(us)': "{:.2f}", 'other_ops': '{:.2f}','other_latency(us)':'{:.2f}', \
                        .set_table_attributes('border="1" class="dataframe table table-hover table-bordered"')\
                        .set_precision(2).set_properties(**{'font-size': '10pt', 'font-family': 'Courier New'})\
                        .hide_index().background_gradient(cmap=cm).set_table_styles([{'selector': 'th', 'props': [('font-size', '10pt')]}]).render()
# or
table_styles = [dict(selector="tbody tr th", props=[("display", "none")]),
st=df.style.set_table_styles(table_styles).hide_index()
st.render()
"""
#
"""
lass pandas.formats.style.Styler(data, precision=None, table_styles=None, uuid=None, caption=None, table_attributes=None)[source]Â¶
If using in the Jupyter notebook, Styler has defined a _repr_html_ to automatically render itself. Otherwise call Styler.render to get the genterated HTML.

CSS classes are attached to the generated HTML

Index and Column names include index_name and level<k> where k is its level in a MultiIndex
Index label cells include
row_heading
row<n> where n is the numeric position of the row
level<k> where k is the level in a MultiIndex
Column label cells include * col_heading * col<n> where n is the numeric position of the column * evel<k> where k is the level in a MultiIndex
Blank cells include blank
Data cells include data
#
Methods:
apply(func[, axis, subset])	Apply a function column-wise, row-wise, or table-wase, updating the HTML representation with the result.
applymap(func[, subset])	Apply a function elementwise, updating the HTML representation with the result.
background_gradient([cmap, low, high, axis, ...])	Color the background in a gradient according to the data in each column (optionally row).
bar([subset, axis, color, width])	Color the background color proptional to the values in each column.
clear()	â€œResetâ€ the styler, removing any previously applied styles.
export()	Export the styles to applied to the current Styler.
format(formatter[, subset])	Format the text display value of cells.
highlight_max([subset, color, axis])	Highlight the maximum by shading the background
highlight_min([subset, color, axis])	Highlight the minimum by shading the background
highlight_null([null_color])	Shade the background null_color for missing values.
render()	Render the built up styles to HTML
set_caption(caption)	Se the caption on a Styler
set_precision(precision)	Set the precision used to render.
set_properties([subset])	Convience method for setting one or more non-data dependent properties or each cell.
set_table_attributes(attributes)	Set the table attributes.
set_table_styles(table_styles)	Set the table styles on a Styler.
set_uuid(uuid)	Set the uuid for a Styler.
use(styles)	Set the styles on the current Styler, possibly using styles from Styler.export.
#
"""

'\nlass pandas.formats.style.Styler(data, precision=None, table_styles=None, uuid=None, caption=None, table_attributes=None)[source]Â¶\nIf using in the Jupyter notebook, Styler has defined a _repr_html_ to automatically render itself. Otherwise call Styler.render to get the genterated HTML.\n\nCSS classes are attached to the generated HTML\n\nIndex and Column names include index_name and level<k> where k is its level in a MultiIndex\nIndex label cells include\nrow_heading\nrow<n> where n is the numeric position of the row\nlevel<k> where k is the level in a MultiIndex\nColumn label cells include * col_heading * col<n> where n is the numeric position of the column * evel<k> where k is the level in a MultiIndex\nBlank cells include blank\nData cells include data\n#\nMethods:\napply(func[, axis, subset])\tApply a function column-wise, row-wise, or table-wase, updating the HTML representation with the result.\napplymap(func[, subset])\tApply a function elementwise, updating the HTML representation with the result.\nbackground_gradient([cmap, low, high, axis, ...])\tColor the background in a gradient according to the data in each column (optionally row).\nbar([subset, axis, color, width])\tColor the background color proptional to the values in each column.\nclear()\tâ€œResetâ€ the styler, removing any previously applied styles.\nexport()\tExport the styles to applied to the current Styler.\nformat(formatter[, subset])\tFormat the text display value of cells.\nhighlight_max([subset, color, axis])\tHighlight the maximum by shading the background\nhighlight_min([subset, color, axis])\tHighlight the minimum by shading the background\nhighlight_null([null_color])\tShade the background null_color for missing values.\nrender()\tRender the built up styles to HTML\nset_caption(caption)\tSe the caption on a Styler\nset_precision(precision)\tSet the precision used to render.\nset_properties([subset])\tConvience method for setting one or more non-data dependent properties or each cell.\nset_table_attributes(attributes)\tSet the table attributes.\nset_table_styles(table_styles)\tSet the table styles on a Styler.\nset_uuid(uuid)\tSet the uuid for a Styler.\nuse(styles)\tSet the styles on the current Styler, possibly using styles from Styler.export.\n#\n'

In [33]:
#df.style.bar(subset=(df.index[1:-1],df.columns[:-1]), color='#d65f5f')

In [34]:
"""
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
Note: All string methods returns new values. They do not change the original string.
"""

'\nMethod\tDescription\ncapitalize()\tConverts the first character to upper case\ncasefold()\tConverts string into lower case\ncenter()\tReturns a centered string\ncount()\tReturns the number of times a specified value occurs in a string\nencode()\tReturns an encoded version of the string\nendswith()\tReturns true if the string ends with the specified value\nexpandtabs()\tSets the tab size of the string\nfind()\tSearches the string for a specified value and returns the position of where it was found\nformat()\tFormats specified values in a string\nformat_map()\tFormats specified values in a string\nindex()\tSearches the string for a specified value and returns the position of where it was found\nisalnum()\tReturns True if all characters in the string are alphanumeric\nisalpha()\tReturns True if all characters in the string are in the alphabet\nisdecimal()\tReturns True if all characters in the string are decimals\nisdigit()\tReturns True if all characters in the string are digits\nisidentifier()\tReturns True if the string is an identifier\nislower()\tReturns True if all characters in the string are lower case\nisnumeric()\tReturns True if all characters in the string are numeric\nisprintable()\tReturns True if all characters in the string are printable\nisspace()\tReturns True if all characters in the string are whitespaces\nistitle()\tReturns True if the string follows the rules of a title\nisupper()\tReturns True if all characters in the string are upper case\njoin()\tJoins the elements of an iterable to the end of the string\nljust()\tReturns a left justified version of the string\nlower()\tConverts a string into lower case\nlstrip()\tReturns a left trim version of the string\nmaketrans()\tReturns a translation table to be used in translations\npartition()\tReturns a tuple where the string is parted into three parts\nreplace()\tReturns a string where a specified value is replaced with a specified value\nrfind()\tSearches the string for a specified value and returns the last position of where it was found\nrindex()\tSearches the string for a specified value and returns the last position of where it was found\nrjust()\tReturns a right justified version of the string\nrpartition()\tReturns a tuple where the string is parted into three parts\nrsplit()\tSplits the string at the specified separator, and returns a list\nrstrip()\tReturns a right trim version of the string\nsplit()\tSplits the string at the specified separator, and returns a list\nsplitlines()\tSplits the string at line breaks and returns a list\nstartswith()\tReturns true if the string starts with the specified value\nstrip()\tReturns a trimmed version of the string\nswapcase()\tSwaps cases, lower case becomes upper case and vice versa\ntitle()\tConverts the first character of each word to upper case\ntranslate()\tReturns a translated string\nupper()\tConverts a string into upper case\nzfill()\tFills the string with a specified number of 0 values at the beginning\nNote: All string methods returns new values. They do not change the original string.\n'

In [35]:
"""
The TABLE tag <table> - </table>
Defines a table.
The TR tag <tr> - </tr>
Defines a row in a table.
The TD tag <td> - </td>
Defines a cell in a table.
#
A table of two rows
<table border="3">
<tr>
<td>Row1 - Col1</td>
<td>Row1 - Col2</td>
<td>Row1 - Col3</td>
</tr>
#
<tr>
<td>Row2 - Col1</td>
<td>Row2 - Col2</td>
<td>Row2 - Col3</td>
</tr>
#
</table>
Output
Row1 - Col1	Row1 - Col2	Row1 - Col3
Row2 - Col1	Row2 - Col2	Row2 - Col3
#
# Set CSS properties for th elements in dataframe
th_props = [
  ('font-size', '12px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#6d6d6d'),
  ('background-color', '#f7ffff')
  ]
# Set CSS properties for td elements in dataframe
td_props = [
  ('font-size', '12px')
  ]
# Set table styles
styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]
(df.style
        .set_table_styles(styles))
########################################################
df = pd.DataFrame()
dfs = df.style

#iterate through dataframe's columns, applying custom function to each cell in the column
for col in df.columns: 
    dfs.applymap(cell_based_function_dict[col], subset=col)

#apply a function to each column
col_based_function = lambda c: pd.Series(['background-color: white' if c.name in ['special_col_1', 'special_col_2'] else 'background-color: red' if x == c.max() else 'background-color: orange' if x > 0 else 'background-color: green' for x in c])
dfs.apply(col_based_function)

#define css specifics for this particular table
styler.set_table_styles([\
    {'selector': 'tr :first-child', 'props': [('display', 'none')]}, \
    {'selector': 'tr:hover td', 'props': [('background-color',  'yellow')]}, \
    {'selector': 'th, td', 'props': [('border', '1px solid black'), \
                                     ('padding', '4px'), \
                                     ('text-align', 'center')]}, \
    {'selector': 'th', 'props': [('font-weight', 'bold')]}, \
    {'selector': '', 'props': [('border-collapse', 'collapse'),\
                               ('border', '1px solid black')]} \
    ])

#all the styling appears to be tied only to this particular dataframe table, so you can easily call render() on different tables of different styles
dfs.render()
# OR
dfs = df.style
for col in df.columns:
    dfs.applymap(basic_limits[col], subset=col)

dfs.set_table_styles([
    {'selector': 'tr :first-child',
     'props': [('display', 'none')]}
])
################################################
#Also you can set the table styles with CSS (change font color, font size, text align, background color, 
# hover properties etc.) using .set_table_styles() method..format() method is used to control the display 
#value. .set_caption() is used to add title for your table. See the examples of code and table below.
# highlight on hover: use pseudo class :hover to add the effect to whatever html element you choose.
th_props = [
    ('font-size', '18px'),
    ('text-align', 'center'),
    ('color', 'white'),
    ('background-color', '#d65f5f'),
    ('font-style', 'italic')]
td_props = [
    ('font-size', '16px')]
tr_hover_props = [("background-color", "%s" % '#d65f5f'), 
                 ('color', 'white'), 
                 ('cursor', 'pointer')]
caption_props = [
    ('font-size', '20px'),
    ('font-weight', 'bold')]
# Set table styles
styles = [
    dict(selector="th", props=th_props),
    dict(selector="td", props=td_props),
    dict(selector="tr:hover", props=tr_hover_props),
    dict(selector="caption", props=caption_props)
]
(df.style
     .format({'H': "{:.2%}"})
     .set_caption('This is a custom caption')
     .set_table_styles(styles)
     .hide_index())
###############################################
styles = [dict(selector="caption", 
    props=[("text-align", "center"),
    ("font-size", "120%"),
    ("color", 'black')])]    # the color value can not be None
# ...

    output += df.style.set_table_attributes("style='display:inline; font-size:110%' ")
        .set_caption(caption)
        .set_table_styles(styles)    # include styles
        ._repr_html_()
#
def row_format(x):
    return 'background-color: red'

data.style.format("{:.2%}").\
           format({'C':'{:.1f}x'}).\
           applymap(row_format, subset=pd.IndexSlice[2, :])
"""
#df.Index.format([name, formatter, na_rep])
#Render a string representation of the Index.

'\nThe TABLE tag <table> - </table>\nDefines a table.\nThe TR tag <tr> - </tr>\nDefines a row in a table.\nThe TD tag <td> - </td>\nDefines a cell in a table.\n#\nA table of two rows\n<table border="3">\n<tr>\n<td>Row1 - Col1</td>\n<td>Row1 - Col2</td>\n<td>Row1 - Col3</td>\n</tr>\n#\n<tr>\n<td>Row2 - Col1</td>\n<td>Row2 - Col2</td>\n<td>Row2 - Col3</td>\n</tr>\n#\n</table>\nOutput\nRow1 - Col1\tRow1 - Col2\tRow1 - Col3\nRow2 - Col1\tRow2 - Col2\tRow2 - Col3\n#\n# Set CSS properties for th elements in dataframe\nth_props = [\n  (\'font-size\', \'12px\'),\n  (\'text-align\', \'center\'),\n  (\'font-weight\', \'bold\'),\n  (\'color\', \'#6d6d6d\'),\n  (\'background-color\', \'#f7ffff\')\n  ]\n# Set CSS properties for td elements in dataframe\ntd_props = [\n  (\'font-size\', \'12px\')\n  ]\n# Set table styles\nstyles = [\n  dict(selector="th", props=th_props),\n  dict(selector="td", props=td_props)\n  ]\n(df.style\n        .set_table_styles(styles))\n########################################################\ndf = pd.DataFrame()\ndfs = df.style\n\n#iterate through dataframe\'s columns, applying custom function to each cell in the column\nfor col in df.columns: \n    dfs.applymap(cell_based_function_dict[col], subset=col)\n\n#apply a function to each column\ncol_based_function = lambda c: pd.Series([\'background-color: white\' if c.name in [\'special_col_1\', \'special_col_2\'] else \'background-color: red\' if x == c.max() else \'background-color: orange\' if x > 0 else \'background-color: green\' for x in c])\ndfs.apply(col_based_function)\n\n#define css specifics for this particular table\nstyler.set_table_styles([    {\'selector\': \'tr :first-child\', \'props\': [(\'display\', \'none\')]},     {\'selector\': \'tr:hover td\', \'props\': [(\'background-color\',  \'yellow\')]},     {\'selector\': \'th, td\', \'props\': [(\'border\', \'1px solid black\'),                                      (\'padding\', \'4px\'),                                      (\'text-align\', \'center\')]},     {\'selector\': \'th\', \'props\': [(\'font-weight\', \'bold\')]},     {\'selector\': \'\', \'props\': [(\'border-collapse\', \'collapse\'),                               (\'border\', \'1px solid black\')]}     ])\n\n#all the styling appears to be tied only to this particular dataframe table, so you can easily call render() on different tables of different styles\ndfs.render()\n# OR\ndfs = df.style\nfor col in df.columns:\n    dfs.applymap(basic_limits[col], subset=col)\n\ndfs.set_table_styles([\n    {\'selector\': \'tr :first-child\',\n     \'props\': [(\'display\', \'none\')]}\n])\n################################################\n#Also you can set the table styles with CSS (change font color, font size, text align, background color, \n# hover properties etc.) using .set_table_styles() method..format() method is used to control the display \n#value. .set_caption() is used to add title for your table. See the examples of code and table below.\n# highlight on hover: use pseudo class :hover to add the effect to whatever html element you choose.\nth_props = [\n    (\'font-size\', \'18px\'),\n    (\'text-align\', \'center\'),\n    (\'color\', \'white\'),\n    (\'background-color\', \'#d65f5f\'),\n    (\'font-style\', \'italic\')]\ntd_props = [\n    (\'font-size\', \'16px\')]\ntr_hover_props = [("background-color", "%s" % \'#d65f5f\'), \n                 (\'color\', \'white\'), \n                 (\'cursor\', \'pointer\')]\ncaption_props = [\n    (\'font-size\', \'20px\'),\n    (\'font-weight\', \'bold\')]\n# Set table styles\nstyles = [\n    dict(selector="th", props=th_props),\n    dict(selector="td", props=td_props),\n    dict(selector="tr:hover", props=tr_hover_props),\n    dict(selector="caption", props=caption_props)\n]\n(df.style\n     .format({\'H\': "{:.2%}"})\n     .set_caption(\'This is a custom caption\')\n     .set_table_styles(styles)\n     .hide_index())\n###############################################\nstyles = [dict(selector="caption", \n    props=[("text-align", "center"),\n    ("font-size", "120%"),\n    ("color", \'black\')])]    # the color value can not be None\n# ...\n\n    output += df.style.set_table_attributes("style=\'display:inline; font-size:110%\' ")\n        .set_caption(caption)\n        .set_table_styles(styles)    # include styles\n        ._repr_html_()\n#\ndef row_format(x):\n    return \'background-color: red\'\n\ndata.style.format("{:.2%}").           format({\'C\':\'{:.1f}x\'}).           applymap(row_format, subset=pd.IndexSlice[2, :])\n'

In [36]:
"""
import pandas as pd
ncols = 3
nrows = 3
row = list(range(1,ncols+1))
table = [row for x in range(nrows) ]
columns = [["","Overall"],["Transplant","false"],["Transplant","true"]]
rows = [["n", ""],["age","mean (SE)"],["age","median (IQR)"]]
custom_df = pd.DataFrame(table)
custom_df.columns = pd.MultiIndex.from_tuples(columns)
custom_df.index = pd.MultiIndex.from_tuples(rows)
custom_df.to_html()
#
OK not bad (what are those commas before and after the table btw?), but looks boring. Let's try to
beautify with some CSS. OOPS, but the resulting html is not rendered, why?

# Let's apply some nice formatting to the dataframe

table_props = [('font-family', '"Arial", Arial, sans-serif;'),
							 ('font-size', '12pt;'),
							 ('border-collapse', 'collapse;'),
							 ('padding', '0px;'),
							 ('margin', '0px;'),
							 ('margin-bottom', '10pt;')]

tbody_props = [('background', '#fff')]

th_props = [
	('border', '0;'),
	('text-align', 'center;'),
	('padding', '0.5ex 1.5ex;'),
	('margin', '0px;')
	]

# Set CSS properties for td elements in dataframe
td_props = [
	('white-space', 'nowrap;'),
	('border', '0;'),
	('text-align', 'center;'),
	('padding', '0.5ex 1.5ex;'),
	('margin', '0px;')
	]

tr_nthchild_props = [
	('background', '#fff')
	]

thead_first = [
	('border-top', '2pt solid black;')
	]

thead_last = [
	('border-bottom', '1pt solid black;')
	]

tr_last = [
	('border-bottom', '2pt solid black;')
	]

# Set table styles
styles = [
	dict(selector="table", props=table_props),
	dict(selector="tbody", props=tbody_props),
	dict(selector="th", props=th_props),
	dict(selector="td", props=td_props),
	dict(selector="tbody tr:nth-child(odd)", props=tr_nthchild_props),
	dict(selector="thead>tr:first-child>th", props=thead_first),
	dict(selector="thead>tr:last-child>th", props=thead_last),
	dict(selector="tbody>tr:last-child>td", props=tr_last),
	
	]

styled = custom_df.style.set_table_styles(styles)
styled.render()
#styled_html = styled.render()
#styled_html.replace("</style><table", "</style>\n\n<!-- -->\n\n<table")
#styled_html
#
import pandas as pd
raw_data = {'Regiment': ['Nighthawks', 'Raptors'], 
    'Company': ['1st', '2nd'], 
    'preTestScore': [4, 24],
    'postTestScore': [25, 94]}
df = pd.DataFrame(raw_data, columns = ['Regiment', 'Company', 'preTestScore', 'postTestScore']).set_index('Regiment')
d1 = dict(selector="th", props=[('text-align', 'center')] )
d2 = dict(selector=".row_heading", props=[("text-align", "left")])

df.style.set_properties(**{'width':'10em', 'text-align':'center'})\
        .set_table_styles([d1,d2])

"""

'\nimport pandas as pd\nncols = 3\nnrows = 3\nrow = list(range(1,ncols+1))\ntable = [row for x in range(nrows) ]\ncolumns = [["","Overall"],["Transplant","false"],["Transplant","true"]]\nrows = [["n", ""],["age","mean (SE)"],["age","median (IQR)"]]\ncustom_df = pd.DataFrame(table)\ncustom_df.columns = pd.MultiIndex.from_tuples(columns)\ncustom_df.index = pd.MultiIndex.from_tuples(rows)\ncustom_df.to_html()\n#\nOK not bad (what are those commas before and after the table btw?), but looks boring. Let\'s try to\nbeautify with some CSS. OOPS, but the resulting html is not rendered, why?\n\n# Let\'s apply some nice formatting to the dataframe\n\ntable_props = [(\'font-family\', \'"Arial", Arial, sans-serif;\'),\n\t\t\t\t\t\t\t (\'font-size\', \'12pt;\'),\n\t\t\t\t\t\t\t (\'border-collapse\', \'collapse;\'),\n\t\t\t\t\t\t\t (\'padding\', \'0px;\'),\n\t\t\t\t\t\t\t (\'margin\', \'0px;\'),\n\t\t\t\t\t\t\t (\'margin-bottom\', \'10pt;\')]\n\ntbody_props = [(\'background\', \'#fff\')]\n\nth_props = [\n\t(\'border\', \'0;\'),\n\t(\'text-align\', \'center;\'),\n\t(\'padding\', \'0.5ex 1.5ex;\'),\n\t(\'margin\', \'0px;\')\n\t]\n\n# Set CSS properties for td elements in dataframe\ntd_props = [\n\t(\'white-space\', \'nowrap;\'),\n\t(\'border\', \'0;\'),\n\t(\'text-align\', \'center;\'),\n\t(\'padding\', \'0.5ex 1.5ex;\'),\n\t(\'margin\', \'0px;\')\n\t]\n\ntr_nthchild_props = [\n\t(\'background\', \'#fff\')\n\t]\n\nthead_first = [\n\t(\'border-top\', \'2pt solid black;\')\n\t]\n\nthead_last = [\n\t(\'border-bottom\', \'1pt solid black;\')\n\t]\n\ntr_last = [\n\t(\'border-bottom\', \'2pt solid black;\')\n\t]\n\n# Set table styles\nstyles = [\n\tdict(selector="table", props=table_props),\n\tdict(selector="tbody", props=tbody_props),\n\tdict(selector="th", props=th_props),\n\tdict(selector="td", props=td_props),\n\tdict(selector="tbody tr:nth-child(odd)", props=tr_nthchild_props),\n\tdict(selector="thead>tr:first-child>th", props=thead_first),\n\tdict(selector="thead>tr:last-child>th", props=thead_last),\n\tdict(selector="tbody>tr:last-child>td", props=tr_last),\n\t\n\t]\n\nstyled = custom_df.style.set_table_styles(styles)\nstyled.render()\n#styled_html = styled.render()\n#styled_html.replace("</style><table", "</style>\n\n<!-- -->\n\n<table")\n#styled_html\n#\nimport pandas as pd\nraw_data = {\'Regiment\': [\'Nighthawks\', \'Raptors\'], \n    \'Company\': [\'1st\', \'2nd\'], \n    \'preTestScore\': [4, 24],\n    \'postTestScore\': [25, 94]}\ndf = pd.DataFrame(raw_data, columns = [\'Regiment\', \'Company\', \'preTestScore\', \'postTestScore\']).set_index(\'Regiment\')\nd1 = dict(selector="th", props=[(\'text-align\', \'center\')] )\nd2 = dict(selector=".row_heading", props=[("text-align", "left")])\n\ndf.style.set_properties(**{\'width\':\'10em\', \'text-align\':\'center\'})        .set_table_styles([d1,d2])\n\n'

In [37]:
"""
pandas.DataFrame
class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)[source]
Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects. The primary pandas data structure
Parameters:	
data : numpy ndarray (structured or homogeneous), dict, or DataFrame
Dict can contain Series, arrays, constants, or list-like objects
index : Index or array-like
Index to use for resulting frame. Will default to np.arange(n) if no indexing information part of input data and no index provided
columns : Index or array-like
Column labels to use for resulting frame. Will default to np.arange(n) if no column labels are provided
dtype : dtype, default None
Data type to force, otherwise infer
copy : boolean, default False
Copy data from inputs. Only affects DataFrame / 2d ndarray input
# Example
d = {'col1': ts1, 'col2': ts2}
>>> df = DataFrame(data=d, index=index)
>>> df2 = DataFrame(np.random.randn(10, 5))
>>> df3 = DataFrame(np.random.randn(10, 5),
...                 columns=['a', 'b', 'c', 'd', 'e'])
#####
class pandas.Index(data=None, dtype=None, copy=False, name=None, tupleize_cols=True, **kwargs)
#Attributes
T (Return the transpose, which is by definition self.)
array (The ExtensionArray of the data backing this Series or Index.)
asi8 (Integer representation of the values.)
dtype (Return the dtype object of the underlying data.)
has_duplicates (Check if the Index has duplicate values.)
hasnans (Return if I have any nans; enables various perf speedups.)
inferred_type (Return a string of the type inferred from the values.)
is_all_dates (Whether or not the index values only consist of dates.)
is_monotonic (Alias for is_monotonic_increasing.)
is_monotonic_decreasing (Return if the index is monotonic decreasing (only equal or decreasing) values.)
is_monotonic_increasing (Return if the index is monotonic increasing (only equal or increasing) values.)
is_unique (Return if the index has unique values.)
name (Return Index or MethodsMultiIndex name.)
nbytes (Return the number of bytes in the underlying data.)
ndim (Number of dimensions of the underlying data, by definition 1.)
nlevels (Number of levels.)
shape (Return a tuple of the shape of the underlying data.)
size (Return the number of elements in the underlying data.)
values (Return an array representing the data in the Index.)
#Methods
all(*args, **kwargs) Return whether all elements are True.
any(*args, **kwargs) Return whether any element is True.
append(other) Append a collection of Index options together.
argmax([axis, skipna]) Return int position of the largest value in the Series.
argmin([axis, skipna]) Return int position of the smallest value in the Series.
argsort(*args, **kwargs) Return the integer indices that would sort the index.
asof(label) Return the label from the index, or, if not present, the previous one.
asof_locs(where, mask) Return the locations (indices) of labels in the index.
astype(dtype[, copy]) Create an Index with values cast to dtypes.
copy([name, deep, dtype, names]) Make a copy of this object.
delete(loc) Make new Index with passed location(-s) deleted.
difference(other[, sort]) Return a new Index with elements of index not in other.
drop(labels[, errors]) Make new Index with passed list of labels deleted.
drop_duplicates([keep]) Return Index with duplicate values removed.
droplevel([level]) Return index with requested level(s) removed.
dropna([how]) Return Index without NA/NaN values.
duplicated([keep]) Indicate duplicate index values.
equals(other) Determine if two Index object are equal.
factorize([sort, na_sentinel]) Encode the object as an enumerated type or categorical variable.
fillna([value, downcast]) Fill NA/NaN values with the specified value.
format([name, formatter, na_rep]) Render a string representation of the Index.
get_indexer(target[, method, limit, tolerance]) Compute indexer and mask for new index given the current index.
get_indexer_for(target, **kwargs) Guaranteed return of an indexer even when non-unique.
get_indexer_non_unique(target) Compute indexer and mask for new index given the current index.
get_level_values(level) Return an Index of values for requested level.
get_loc(key[, method, tolerance]) Get integer location, slice or boolean mask for requested label.
get_slice_bound(label, side, kind) Calculate slice bound that corresponds to given label.
get_value(series, key) Fast lookup of value from 1-dimensional ndarray.
groupby(values) Group the index labels by a given array of values.
holds_integer() Whether the type is an integer type.
identical(other) Similar to equals, but checks that object attributes and types are also equal.
insert(loc, item) Make new Index inserting new item at location.
intersection(other[, sort]) Form the intersection of two Index objects.
is_(other) More flexible, faster check like is but that works through views.
is_boolean() Check if the Index only consists of booleans.
is_categorical() Check if the Index holds categorical data.
is_floating() Check if the Index is a floating type.
is_integer() Check if the Index only consists of integers.
is_interval() Check if the Index holds Interval objects.
is_mixed() Check if the Index holds data with mixed data types.
is_numeric() Check if the Index only consists of numeric data.
is_object() Check if the Index is of the object dtype.
is_type_compatible(kind) Whether the index type is compatible with the provided type.
isin(values[, level]) Return a boolean array where the index values are in values.
isna() Detect missing values.
isnull() Detect missing values.
item() Return the first element of the underlying data as a python scalar.
join(other[, how, level, return_indexers, sort]) Compute join_index and indexers to conform data structures to the new index.
map(mapper[, na_action]) Map values using input correspondence (a dict, Series, or function).
max([axis, skipna]) Return the maximum value of the Index.
memory_usage([deep]) Memory usage of the values.
min([axis, skipna]) Return the minimum value of the Index.
notna() Detect existing (non-missing) values.
notnull() Detect existing (non-missing) values.
nunique([dropna]) Return number of unique elements in the object.
putmask(mask, value) Return a new Index of the values set with the mask.
ravel([order]) Return an ndarray of the flattened values of the underlying data.
reindex(target[, method, level, limit, â€¦]) Create index with targetâ€™s values.
rename(name[, inplace]) Alter Index or MultiIndex name.
repeat(repeats[, axis]) Repeat elements of a Index.
searchsorted(value[, side, sorter]) Find indices where elements should be inserted to maintain order.
set_names(names[, level, inplace]) Set Index or MultiIndex name.
set_value(arr, key, value) (DEPRECATED) Fast lookup of value from 1-dimensional ndarray.
shift([periods, freq]) Shift index by desired number of time frequency increments.
slice_indexer([start, end, step, kind]) Compute the slice indexer for input labels and step.
slice_locs([start, end, step, kind]) Compute slice locations for input labels.
sort(*args, **kwargs) Use sort_values instead.
sort_values([return_indexer, ascending, key]) Return a sorted copy of the index.
sortlevel([level, ascending, sort_remaining]) For internal compatibility with with the Index API.
str alias of pandas.core.strings.StringMethods
symmetric_difference(other[, result_name, sort]) Compute the symmetric difference of two Index objects.
take(indices[, axis, allow_fill, fill_value]) Return a new Index of the values selected by the indices.
to_flat_index() Identity method.
to_frame([index, name]) Create a DataFrame with a column containing the Index.
to_list() Return a list of the values.
to_native_types([slicer]) Format specified values of self and return them.
to_numpy([dtype, copy, na_value]) A NumPy ndarray representing the values in this Series or Index.
to_series([index, name]) Create a Series with both index and values equal to the index keys.
tolist() Return a list of the values.
transpose(*args, **kwargs) Return the transpose, which is by definition self.
union(other[, sort]) Form the union of two Index objects.
unique([level]) Return unique values in the index.
value_counts([normalize, sort, ascending, â€¦]) Return a Series containing counts of unique values.
where(cond[, other]) Replace values where the condition is False.
"""

"\npandas.DataFrame\nclass pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)[source]\nTwo-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects. The primary pandas data structure\nParameters:\t\ndata : numpy ndarray (structured or homogeneous), dict, or DataFrame\nDict can contain Series, arrays, constants, or list-like objects\nindex : Index or array-like\nIndex to use for resulting frame. Will default to np.arange(n) if no indexing information part of input data and no index provided\ncolumns : Index or array-like\nColumn labels to use for resulting frame. Will default to np.arange(n) if no column labels are provided\ndtype : dtype, default None\nData type to force, otherwise infer\ncopy : boolean, default False\nCopy data from inputs. Only affects DataFrame / 2d ndarray input\n# Example\nd = {'col1': ts1, 'col2': ts2}\n>>> df = DataFrame(data=d, index=index)\n>>> df2 = DataFrame(np.random.randn(10, 5))\n>>> df3 = DataFrame(np.random.randn(10, 5),\n...                 columns=['a', 'b', 'c', 'd', 'e'])\n#####\nclass pandas.Index(data=None, dtype=None, copy=False, name=None, tupleize_cols=True, **kwargs)\n#Attributes\nT (Return the transpose, which is by definition self.)\narray (The ExtensionArray of the data backing this Series or Index.)\nasi8 (Integer representation of the values.)\ndtype (Return the dtype object of the underlying data.)\nhas_duplicates (Check if the Index has duplicate values.)\nhasnans (Return if I have any nans; enables various perf speedups.)\ninferred_type (Return a string of the type inferred from the values.)\nis_all_dates (Whether or not the index values only consist of dates.)\nis_monotonic (Alias for is_monotonic_increasing.)\nis_monotonic_decreasing (Return if the index is monotonic decreasing (only equal or decreasing) values.)\nis_monotonic_increasing (Return if the index is monotonic increasing (only equal or increasing) values.)\nis_unique (Return if the index has unique values.)\nname (Return Index or MethodsMultiIndex name.)\nnbytes (Return the number of bytes in the underlying data.)\nndim (Number of dimensions of the underlying data, by definition 1.)\nnlevels (Number of levels.)\nshape (Return a tuple of the shape of the underlying data.)\nsize (Return the number of elements in the underlying data.)\nvalues (Return an array representing the data in the Index.)\n#Methods\nall(*args, **kwargs) Return whether all elements are True.\nany(*args, **kwargs) Return whether any element is True.\nappend(other) Append a collection of Index options together.\nargmax([axis, skipna]) Return int position of the largest value in the Series.\nargmin([axis, skipna]) Return int position of the smallest value in the Series.\nargsort(*args, **kwargs) Return the integer indices that would sort the index.\nasof(label) Return the label from the index, or, if not present, the previous one.\nasof_locs(where, mask) Return the locations (indices) of labels in the index.\nastype(dtype[, copy]) Create an Index with values cast to dtypes.\ncopy([name, deep, dtype, names]) Make a copy of this object.\ndelete(loc) Make new Index with passed location(-s) deleted.\ndifference(other[, sort]) Return a new Index with elements of index not in other.\ndrop(labels[, errors]) Make new Index with passed list of labels deleted.\ndrop_duplicates([keep]) Return Index with duplicate values removed.\ndroplevel([level]) Return index with requested level(s) removed.\ndropna([how]) Return Index without NA/NaN values.\nduplicated([keep]) Indicate duplicate index values.\nequals(other) Determine if two Index object are equal.\nfactorize([sort, na_sentinel]) Encode the object as an enumerated type or categorical variable.\nfillna([value, downcast]) Fill NA/NaN values with the specified value.\nformat([name, formatter, na_rep]) Render a string representation of the Index.\nget_indexer(target[, method, limit, tolerance]) Compute indexer and mask for new index given the current index.\nget_indexer_for(target, **kwargs) Guaranteed return of an indexer even when non-unique.\nget_indexer_non_unique(target) Compute indexer and mask for new index given the current index.\nget_level_values(level) Return an Index of values for requested level.\nget_loc(key[, method, tolerance]) Get integer location, slice or boolean mask for requested label.\nget_slice_bound(label, side, kind) Calculate slice bound that corresponds to given label.\nget_value(series, key) Fast lookup of value from 1-dimensional ndarray.\ngroupby(values) Group the index labels by a given array of values.\nholds_integer() Whether the type is an integer type.\nidentical(other) Similar to equals, but checks that object attributes and types are also equal.\ninsert(loc, item) Make new Index inserting new item at location.\nintersection(other[, sort]) Form the intersection of two Index objects.\nis_(other) More flexible, faster check like is but that works through views.\nis_boolean() Check if the Index only consists of booleans.\nis_categorical() Check if the Index holds categorical data.\nis_floating() Check if the Index is a floating type.\nis_integer() Check if the Index only consists of integers.\nis_interval() Check if the Index holds Interval objects.\nis_mixed() Check if the Index holds data with mixed data types.\nis_numeric() Check if the Index only consists of numeric data.\nis_object() Check if the Index is of the object dtype.\nis_type_compatible(kind) Whether the index type is compatible with the provided type.\nisin(values[, level]) Return a boolean array where the index values are in values.\nisna() Detect missing values.\nisnull() Detect missing values.\nitem() Return the first element of the underlying data as a python scalar.\njoin(other[, how, level, return_indexers, sort]) Compute join_index and indexers to conform data structures to the new index.\nmap(mapper[, na_action]) Map values using input correspondence (a dict, Series, or function).\nmax([axis, skipna]) Return the maximum value of the Index.\nmemory_usage([deep]) Memory usage of the values.\nmin([axis, skipna]) Return the minimum value of the Index.\nnotna() Detect existing (non-missing) values.\nnotnull() Detect existing (non-missing) values.\nnunique([dropna]) Return number of unique elements in the object.\nputmask(mask, value) Return a new Index of the values set with the mask.\nravel([order]) Return an ndarray of the flattened values of the underlying data.\nreindex(target[, method, level, limit, â€¦]) Create index with targetâ€™s values.\nrename(name[, inplace]) Alter Index or MultiIndex name.\nrepeat(repeats[, axis]) Repeat elements of a Index.\nsearchsorted(value[, side, sorter]) Find indices where elements should be inserted to maintain order.\nset_names(names[, level, inplace]) Set Index or MultiIndex name.\nset_value(arr, key, value) (DEPRECATED) Fast lookup of value from 1-dimensional ndarray.\nshift([periods, freq]) Shift index by desired number of time frequency increments.\nslice_indexer([start, end, step, kind]) Compute the slice indexer for input labels and step.\nslice_locs([start, end, step, kind]) Compute slice locations for input labels.\nsort(*args, **kwargs) Use sort_values instead.\nsort_values([return_indexer, ascending, key]) Return a sorted copy of the index.\nsortlevel([level, ascending, sort_remaining]) For internal compatibility with with the Index API.\nstr alias of pandas.core.strings.StringMethods\nsymmetric_difference(other[, result_name, sort]) Compute the symmetric difference of two Index objects.\ntake(indices[, axis, allow_fill, fill_value]) Return a new Index of the values selected by the indices.\nto_flat_index() Identity method.\nto_frame([index, name]) Create a DataFrame with a column containing the Index.\nto_list() Return a list of the values.\nto_native_types([slicer]) Format specified values of self and return them.\nto_numpy([dtype, copy, na_value]) A NumPy ndarray representing the values in this Series or Index.\nto_series([index, name]) Create a Series with both index and values equal to the index keys.\ntolist() Return a list of the values.\ntranspose(*args, **kwargs) Return the transpose, which is by definition self.\nunion(other[, sort]) Form the union of two Index objects.\nunique([level]) Return unique values in the index.\nvalue_counts([normalize, sort, ascending, â€¦]) Return a Series containing counts of unique values.\nwhere(cond[, other]) Replace values where the condition is False.\n"

In [38]:
"""
In addition to selecting data based on location, you can also select data based on labels.
To do this, you first create a new index using a column of values that you want to use for organizing and querying your data.
For example, you can create an index from a specific column of values using:
dataframe.set_index("column")
 Data Tip: Creating a new index will restructure the data by replacing the default location indexing (i.e. [0]) with the new index. This also means the column used to create the index is no longer a functional column, but rather an index of the dataframe.
# Create new dataframe with `months` as index
avg_monthly_precip_index = avg_monthly_precip.set_index("months")
"""
## Select Aug using months (previously a header) is now an index 
#avg_monthly_precip_index.loc[["Aug"]]

'\nIn addition to selecting data based on location, you can also select data based on labels.\nTo do this, you first create a new index using a column of values that you want to use for organizing and querying your data.\nFor example, you can create an index from a specific column of values using:\ndataframe.set_index("column")\n Data Tip: Creating a new index will restructure the data by replacing the default location indexing (i.e. [0]) with the new index. This also means the column used to create the index is no longer a functional column, but rather an index of the dataframe.\n# Create new dataframe with `months` as index\navg_monthly_precip_index = avg_monthly_precip.set_index("months")\n'

In [39]:
# # In order to change the header format, we have to remove the default formatting of header by pandas
# See http://stackoverflow.com/questions/36694313/pandas-xlsxwriter-format-header
# pd.formats.format.header_style = None